* {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: #333;
}

h2 {
  font-size: 62px;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

.badge {
  padding: 6px 4px;
  border-radius: 4px;
}
.badge.badge-danger {
  background-color: #eb5757;
  color: #fff;
}

.btn {
  padding: 12px 18px;
  border-radius: 50px;
}
.btn.btn-primary {
  padding: 9px 32px;
  font-size: 16px;
  background-color: #ffc017;
  color: #fff;
}
.btn.btn-outline-primary {
  border: 1px solid #ffc017;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: no-repeat center;
  background-size: cover;
  vertical-align: middle;
}
.icon.icon-cart {
  background-image: url("/html-review/assets/img/ic-cart.svg");
}
.icon.icon-mail {
  background-image: url("/html-review/assets/img/ic-mail.svg");
}
.icon.icon-phone {
  background-image: url("/html-review/assets/img/ic-phone.svg");
}
.icon.icon-location {
  background-image: url("/html-review/assets/img/ic-location.svg");
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.row .col {
  padding: 0 20px;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}
.row-cols-1 .col {
  flex: 0 0 100%;
  max-width: 100%;
}
.row-cols-2 .col {
  flex: 0 0 50%;
  max-width: 50%;
}
.row-cols-3 .col {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.row-cols-4 .col {
  flex: 0 0 25%;
  max-width: 25%;
}
.row-cols-5 .col {
  flex: 0 0 20%;
  max-width: 20%;
}
.row-cols-6 .col {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.row-cols-7 .col {
  flex: 0 0 14.2857142857%;
  max-width: 14.2857142857%;
}
.row-cols-8 .col {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.row-cols-9 .col {
  flex: 0 0 11.1111111111%;
  max-width: 11.1111111111%;
}
.row-cols-10 .col {
  flex: 0 0 10%;
  max-width: 10%;
}
.row-cols-11 .col {
  flex: 0 0 9.0909090909%;
  max-width: 9.0909090909%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 18px 0;
  background-color: #fff;
}
.header-wrapper {
  justify-content: space-between;
  align-items: center;
}

.nav-main .nav-list {
  justify-content: space-between;
}
.nav-main .nav-list .nav-item {
  padding: 0 16px;
  font-weight: 500;
}

.footer {
  padding: 48px 0 32px;
}
.footer-title {
  margin-bottom: 32px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
.footer .contact-list {
  align-items: center;
  max-width: 452px;
  margin: 0 auto;
}

.contact-item {
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
}
.contact-item .contact {
  font-size: 20px;
}
.contact-item .contact-desc {
  display: inline;
  margin-left: 18px;
}

.active {
  color: #ffc017;
}

.bg-primary {
  background-color: #ffc017;
}

.txt-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
