* {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  padding-top: 74px;
}

a {
  color: #333;
}

h2 {
  font-size: 62px;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

img {
  width: -webkit-fill-available;
}

.section {
  padding: 35px 0;
}
.section-header {
  margin-bottom: 56px;
  position: relative;
}
.section-title {
  position: relative;
}
.section-title.title-underline::after {
  content: "";
  width: 131px;
  height: 2px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffc017;
}

.product {
  position: relative;
}
.product-content {
  justify-content: space-evenly;
  align-items: flex-start;
}
.product-title {
  font-size: 16px;
}
.product-desc {
  display: block;
}
.product-price {
  display: block;
}
.product .badge {
  top: 10px;
  left: 28px;
}
.product .btn {
  font-size: 10px;
  padding: 8px 18px;
}
.product .btn .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.badge {
  position: absolute;
  padding: 6px 4px;
  border-radius: 4px;
  font-family: "Nunito";
  font-size: 9px;
  font-weight: 700;
}
.badge.badge-danger {
  background-color: #eb5757;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 50px;
}
.btn.btn-primary {
  padding: 9px 32px;
  font-size: 16px;
  background-color: #ffc017;
  color: #fff;
}
.btn.btn-outline-primary {
  border: 1px solid #ffc017;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: no-repeat center;
  background-size: cover;
  vertical-align: middle;
}
.icon.icon-cart {
  background-image: url("/html-review/assets/img/ic-cart.svg");
}
.icon.icon-mail {
  background-image: url("/html-review/assets/img/ic-mail.svg");
}
.icon.icon-phone {
  background-image: url("/html-review/assets/img/ic-phone.svg");
}
.icon.icon-location {
  background-image: url("/html-review/assets/img/ic-location.svg");
}

.container {
  max-width: calc(100vw - 220px);
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.row .col {
  padding: 0 20px;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}
.row-cols-1 .col {
  flex: 0 0 100%;
  max-width: 100%;
}
.row-cols-2 .col {
  flex: 0 0 50%;
  max-width: 50%;
}
.row-cols-3 .col {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.row-cols-4 .col {
  flex: 0 0 25%;
  max-width: 25%;
}
.row-cols-5 .col {
  flex: 0 0 20%;
  max-width: 20%;
}
.row-cols-6 .col {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.row-cols-7 .col {
  flex: 0 0 14.2857142857%;
  max-width: 14.2857142857%;
}
.row-cols-8 .col {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.row-cols-9 .col {
  flex: 0 0 11.1111111111%;
  max-width: 11.1111111111%;
}
.row-cols-10 .col {
  flex: 0 0 10%;
  max-width: 10%;
}
.row-cols-11 .col {
  flex: 0 0 9.0909090909%;
  max-width: 9.0909090909%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 18px 0;
  background-color: #fff;
}
.header-wrapper {
  justify-content: space-between;
  align-items: center;
}

.nav-main .nav-list {
  justify-content: space-between;
}
.nav-main .nav-list .nav-item {
  padding: 0 16px;
  font-weight: 500;
}

.footer {
  padding: 48px 0 32px;
}
.footer-title {
  margin-bottom: 32px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
.footer .contact-list {
  align-items: center;
  max-width: 452px;
  margin: 0 auto;
}

.contact-item {
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
}
.contact-item .contact {
  font-size: 20px;
}
.contact-item .contact-desc {
  display: inline-block;
  margin-left: 18px;
}
.contact-item:last-child .icon {
  vertical-align: top;
}
.contact-item:last-child .contact-desc {
  margin: 0;
  width: 400px;
}

.active {
  color: #ffc017;
}

.txt-secondary {
  color: #485963;
}

.txt-light {
  color: #fff;
}

.bg-primary {
  background-color: #ffc017;
}

.txt-center {
  text-align: center;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-page .section-banner {
  height: calc(100vh - 74px);
  position: relative;
  background: url("/html-review/assets/img/bg-banner.png") no-repeat center;
  background-size: cover;
}
.home-page .section-banner .section-body {
  max-width: 40%;
  position: absolute;
  top: 40%;
  right: 110px;
}
.home-page .section-banner .section-desc {
  margin: 38px 0;
  line-height: 120%;
}
.home-page .section-category {
  padding-top: 40px;
}
.home-page .section-category .category-title {
  margin-top: 24px;
  font-size: 20px;
}
.home-page .section-product .product-filter .filter-title {
  padding: 13px 25px;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
}
.home-page .section-product .product-filter .filter-item {
  padding: 20px 25px 0;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 120%;
}
.home-page .section-product .product-filter .filter-item:last-child {
  border-radius: 0 0 10px 10px;
}
.home-page .section-product .product-filter .filter-item:last-child .filter-link {
  border: none;
}
.home-page .section-product .product-filter .filter-link {
  width: 100%;
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid #eee;
}
.home-page .section-product .active {
  position: relative;
  padding-left: 15px;
  font-weight: 700;
  color: #333;
}
.home-page .section-product .active::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: #ffc017;
  border-radius: 5px;
}
.home-page .section-product .product-wrapper {
  margin: auto 0;
}
.home-page .section-product .product-wrapper .product-item {
  padding: 10px 20px;
}
.home-page .section-photo {
  padding-bottom: 70px;
}
.home-page .section-photo .photo-title {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 18px;
  border: 1px solid #ffc017;
  border-radius: 50px;
  font-weight: 500;
  line-height: 120%;
}
.home-page .section-photo .photo-img:nth-child(even) {
  margin-top: 16px;
}
.home-page .section-photo .photo-img:nth-child(odd) {
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
