.product-list {
  padding-top: 18px;
  .product {
    &-title {
      margin-top: 8px;
      font-weight: 300;
    }

    &-price {
      font-size: 20px;
    }

    &-price-discount {
      color: var(--discount-price-color);
      font-size: 20px;
    }

    .price-wrapper {
      justify-content: space-between;
    }

    &:hover {
      box-shadow: 4px 4px var(--gray-bg-color);
    }
  }
}

.product-discount {
  position: relative;

  .discount {
    top: 5%;
    left: 5%;
  }

  .product-price {
    color: map-get($color, price);
  }
}

@media only screen and (max-width: 768px) {
  .product-item {
    margin-bottom: 8px;
    .product {
      &-title {
        font-size: 12px;
      }

      &-price,
      &-price-discount {
        font-size: 10px;
      }
    }
  }
}
