@media only screen and (max-width: 768px) {

  .section-recommend .section-header {
    margin: 0;
    align-items: center;
  }

  .btn-recommend {
    height: fit-content;
    border: none !important;
  }

  .section-product .section-title {
    text-align: start;
  }
  .product-item {
    margin-bottom: 8px; 
  }
  .product .product-title {
    font-size: 12px;
  }

  .product .product-price,
  .product .product-price-discount {
    font-size: 10px;
  }

  .section-info .info-list {
    padding-top: 40px !important;
  }

  .info.row {
    margin-bottom: 16px;
  }

  .info .info-title {
    margin: 8px 0;
    font-size: 12px;
  }

  .info .icon-info,
  .info .icon-overlay {
    max-width: 68px;
    margin-left: 0;
    margin-right: 16px
  }

  .info .info-desc {
    font-size: 10px;
  }

  /* subscribe */
  .section-subscribe {
    max-height: 200px;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url("../images/subscribe-bg-mb.png") no-repeat;
    background-size: cover;
  }

  .section-subscribe .subscribe-form {
    height: auto;
    padding-top: 20px;
  }

  .subscribe-form .subscribe-content {
    max-width: 200px;
    font-size: 14px;
  }

  .subscribe-form .subscribe-input {
    margin: 24px 0 16px;
    padding: 6px 12px !important;
  }

  .subscribe-form .btn-subscribe {
    padding: 7px 18px
  }
  .footer .footer-content {
    padding: 24px 0;
  }
  
  .footer .footer-detail-desc{
    max-width: 100%;
    margin-bottom: 48px;
  }
  
  .footer .social-list {
    display: none;
  }
  
  .footer-nav .footer-nav-col {
    margin-bottom: 24px;
  }
  
  .footer-nav-col .footer-nav-item,
  .footer-end .copyright {
    font-size: 12px;
  }

}
