*,
*::before,
*::after {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins";
}

body {
  position: relative;
}

h2 {
  font-size: 72px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 300;
}

h4 {
  font-size: 16px;
}

a {
  color: #000;
}

.flex {
  display: flex;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding: 0 10px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100vw - 48px);
    width: 100%;
  }
  .row {
    margin: 0 -4px;
  }
  .row .col {
    padding: 0 4px !important;
  }
  .row .col-sm-1 {
    width: 8.3333333333% !important;
  }
  .row .col-sm-2 {
    width: 16.6666666667% !important;
  }
  .row .col-sm-3 {
    width: 25% !important;
  }
  .row .col-sm-4 {
    width: 33.3333333333% !important;
  }
  .row .col-sm-5 {
    width: 41.6666666667% !important;
  }
  .row .col-sm-6 {
    width: 50% !important;
  }
  .row .col-sm-7 {
    width: 58.3333333333% !important;
  }
  .row .col-sm-8 {
    width: 66.6666666667% !important;
  }
  .row .col-sm-9 {
    width: 75% !important;
  }
  .row .col-sm-10 {
    width: 83.3333333333% !important;
  }
  .row .col-sm-11 {
    width: 91.6666666667% !important;
  }
  .row .col-sm-12 {
    width: 100% !important;
  }
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 42px 0;
  z-index: 1;
}
.header .container {
  justify-content: space-between;
  align-items: center;
}
.header .action-list {
  justify-content: space-around;
  align-items: center;
}
.header .action-list .action-item {
  padding-left: 12px;
  position: relative;
}
.header .action-list .badge-cart {
  display: none;
  position: absolute;
  top: -10px;
  left: 5px;
  padding: 1px 4px;
  font-size: 8px;
}
.header-cart {
  background-color: #000;
}

@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    padding: 20px 0;
    background-color: #fff;
  }
}
.footer {
  background-color: #fbb03b;
  color: #fff;
}
.footer-content {
  padding: 45px 0 50px;
}
.footer-detail-desc {
  max-width: 80%;
  margin: 24px 0 40px;
}
.footer .social-list {
  margin: 40px 0 0 -8px;
}
.footer .social-list .social-item {
  margin: 0 8px;
}
.footer-end {
  padding: 20px;
  border-top: 1px solid #fff;
}

.footer-nav-col {
  min-width: 20%;
}
.footer-nav-col .title {
  margin-bottom: 12px;
  font-weight: 700;
}
.footer-nav-col .item {
  display: block;
  margin-top: 8px;
}
.footer-nav-col .link {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .footer .footer-content {
    padding: 24px 0;
  }
  .footer .footer-detail-desc {
    max-width: 100%;
    margin-bottom: 48px;
  }
  .footer .social-list {
    display: none;
  }
  .footer-end .copyright {
    font-size: 12px;
  }
  .footer-nav-col {
    margin-bottom: 24px;
  }
  .footer-nav .item {
    font-size: 12px;
  }
}
.nav-main .nav-list {
  justify-content: space-between;
  font-size: 18px;
}
.nav-main .nav-list .nav-item {
  padding: 0 48px;
}
.nav-main .nav-list .nav-item:hover {
  color: #fbb03b;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .nav-main {
    display: none;
  }
}
.txt-primary {
  color: #fbb03b;
}

.txt-secondary {
  color: #a8a8a8;
}

.txt-center {
  text-align: center;
  vertical-align: middle;
}

.home-page .section-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("/html-exercise/assets/images/header-bg.png");
  background-size: cover;
}
.home-page .section-banner .section-header {
  position: absolute;
  top: 25%;
  left: 0;
  margin: 0;
  padding-left: calc((100vw - 1152px) / 2 + 72px + 24px);
}
.home-page .section-banner .section-title {
  padding-bottom: 24px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 101.5%;
}
.home-page .section-banner .section-title .txt-primary {
  display: block;
}
.home-page .section-banner .section-link {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}
.home-page .section-banner .section-link:hover {
  color: #fbb03b;
}
.home-page .banner-note {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 38px 64px;
  padding-left: calc((100vw - 1152px) / 2 + 72px);
  background-color: #fff;
  border-radius: 0 100px 0 0;
}
.home-page .banner-note .note-list {
  justify-content: space-between;
  padding: 0 24px;
  height: auto;
  align-items: baseline;
}
.home-page .banner-note .note-list .note-item {
  width: 236px;
}
.home-page .note-item .note-icon {
  width: 36px;
  height: 36px;
}
.home-page .note-item .note-content {
  width: 200px;
  padding-left: 21px;
}
.home-page .note-item .note-title {
  font-size: 14px;
  font-weight: bolder;
}
.home-page .note-item .note-desc {
  font-size: 12px;
}
.home-page .section-highlight {
  padding: 48px 0;
}
.home-page .section-highlight .highlight-list {
  min-height: 360px;
}
.home-page .section-highlight .highlight-item {
  display: inline-block;
  position: relative;
}
.home-page .section-highlight .highlight-item:first-child .highlight {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/html-exercise/assets/images/highlight-1.png") no-repeat;
  background-size: cover;
}
.home-page .section-highlight .highlight-item:nth-child(2) .highlight {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/html-exercise/assets/images/highlight-2.png") no-repeat;
  background-size: cover;
}
.home-page .section-highlight .highlight-item:last-child .highlight {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/html-exercise/assets/images/highlight-3.png") no-repeat;
  background-size: cover;
}
.home-page .highlight-item .highlight {
  height: 100%;
}
.home-page .highlight-item .highlight-title {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.home-page .highlight-item .highlight-link {
  position: absolute;
  top: 75%;
  left: 10%;
}
.home-page .highlight-item .highlight:hover {
  opacity: 0.8;
}
.home-page .highlight-item .highlight .badge {
  top: 35%;
  left: 10%;
}
.home-page .section-recommend {
  padding: 48px 0 96px;
}
.home-page .section-recommend .section-header {
  justify-content: space-between;
}
.home-page .section-recommend .btn-outline-info:hover {
  background-color: #000;
  color: #fff;
}
.home-page .section-info {
  background-color: #f6f6f6;
  padding: 64px 0;
}
.home-page .section-info .section-header {
  margin-bottom: 48px;
}
.home-page .section-info .info-list {
  justify-content: space-between;
}
.home-page .section-info .info-list .info-title {
  font-size: 16px;
  font-weight: bolder;
  margin: 24px 0 16px;
}
.home-page > .section-product {
  padding: 96px 0;
}
.home-page .section-subscribe {
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%), url("/html-exercise/assets/images/subscribe-bg.png") no-repeat;
  background-size: cover;
  height: 240px;
}
.home-page .section-subscribe .subscribe-form {
  height: 240px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.home-page .section-subscribe .subscribe-form .subscribe-content {
  width: 500px;
  display: inline-block;
  color: #fff;
  font-size: 24px;
}
.home-page .section-subscribe .subscribe-form .subscribe-input {
  width: 60%;
  margin-right: 30px;
  padding: 16px 70px 16px 24px;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  .home-page .section-banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("/html-exercise/assets/images/header-bg-sm.png") no-repeat;
    background-size: cover;
  }
  .home-page .section-banner .section-header {
    width: var(--container-width-sm);
    top: 40%;
    padding: 0 24px;
  }
  .home-page .section-banner .section-header .section-title {
    font-size: 48px;
  }
  .home-page .section-banner .banner-note {
    display: none;
  }
  .home-page .highlight-list {
    height: fit-content;
  }
  .home-page .highlight-list .highlight-item {
    margin-bottom: 8px;
  }
  .home-page .highlight-list .highlight-item .highlight {
    min-height: 225px;
  }
  .home-page .highlight-list .highlight-item .highlight-title {
    max-width: 125px;
    top: 65%;
    width: 120px;
    font-size: 14px;
  }
  .home-page .highlight-list .highlight-item .highlight-link {
    top: 85%;
    left: 8%;
  }
  .home-page .highlight-list .highlight-item .highlight .badge {
    top: 55%;
  }
  .home-page .section-recommend .section-header {
    margin-bottom: 16px;
    align-items: center;
  }
  .home-page .section-recommend .btn-outline-info {
    height: fit-content;
    border: none !important;
  }
  .home-page .product-item {
    margin-bottom: 8px;
  }
  .home-page .section-info .info-list {
    padding-top: 40px !important;
  }
  .home-page .section-info .info.row {
    margin-bottom: 16px;
  }
  .home-page .section-info .info-title {
    margin: 8px 0 !important;
    font-size: 12px !important;
  }
  .home-page .section-info .info .icon-info {
    max-width: 68px;
    margin-left: 0;
    margin-right: 16px;
  }
  .home-page .section-info .info-desc {
    font-size: 10px;
  }
  .home-page .section-subscribe {
    max-height: 200px;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%), url("/html-exercise/assets/images/subscribe-bg-sm.png") no-repeat;
    background-size: cover;
  }
  .home-page .section-subscribe .subscribe-form {
    height: auto;
  }
  .home-page .section-subscribe .subscribe-form .subscribe-content {
    max-width: 200px;
    font-size: 14px;
  }
  .home-page .section-subscribe .subscribe-form .subscribe-input {
    margin: 24px 0 16px;
    padding: 6px 12px !important;
  }
  .home-page .section-subscribe .subscribe-form .btn-primary {
    padding: 7px 18px;
  }
}
.cart-page .section-cart {
  padding-top: 150px;
}
.cart-page .section-cart .cart-list {
  margin-bottom: 12px;
}
.cart-page .cart {
  padding: 20px 0;
  border-bottom: 1px solid #c4c4c4;
}
.cart-page .cart-img {
  width: 40%;
}
.cart-page .cart.product-discount .badge-danger {
  top: 5%;
  left: 5%;
}
.cart-page .cart.product-discount .price-wrapper .product-price {
  color: #cecece;
  text-decoration: line-through;
}
.cart-page .cart-action {
  text-align: center;
  margin: auto 0;
}
.cart-page .cart-price {
  position: relative;
  margin: auto 0;
  text-align: end;
}
.cart-page .cart .btn {
  padding: 4px 12px;
  margin: 0 10px;
  border: 1px solid #fbb03b;
}
.cart-page .cart .btn:hover {
  background-color: #fbb03b;
  color: #fff;
}
.cart-page .cart-total {
  text-align: end;
  font-weight: 700;
  font-size: 20px;
}
.cart-page .cart-empty {
  text-align: center;
}
.cart-page .cart-empty .btn:hover {
  color: #fff;
}

.section {
  margin: 0;
}
.section-header {
  margin-bottom: 36px;
}
.section-title {
  font-size: 32px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 24px 0 !important;
  }
  .section-title {
    font-size: 18px;
  }
  .section-header {
    margin-bottom: 0;
  }
}
.btn {
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 24px;
  font-size: 13px;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
}
.btn.btn-primary {
  padding: 16px 42px;
  background-color: #fbb03b;
}
.btn.btn-outline-info {
  border: 1px solid #c4c4c4;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 3px 10px;
    font-size: 10px;
  }
}
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: no-repeat center;
  vertical-align: middle;
}
.icon-search {
  background-image: url("/html-exercise/assets/images/ic-search.svg");
}
.icon-cart {
  background-image: url("/html-exercise/assets/images/ic-cart.svg");
}
.icon-profile {
  background-image: url("/html-exercise/assets/images/ic-avatar.svg");
}
.icon-arrow {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  background-image: url("/html-exercise/assets/images/ic-arrow.svg");
  border-radius: 50%;
}
.icon-freeship {
  background-image: url("/html-exercise/assets/images/ic-freeship-fill.svg");
}
.icon-satisfied {
  background-image: url("/html-exercise/assets/images/ic-satisfied-fill.svg");
}
.icon-guaranteed {
  background-image: url("/html-exercise/assets/images/ic-guaranteed-fill.svg");
}
.icon.icon-info {
  width: 70px;
  height: 70px;
}
.icon.icon-info.icon-freeship {
  background: url("/html-exercise/assets/images/ic-freeship.svg") no-repeat;
}
.icon.icon-info.icon-payment {
  background: url("/html-exercise/assets/images/ic-payment.svg") no-repeat;
}
.icon.icon-info.icon-guaranteed {
  background: url("/html-exercise/assets/images/ic-guaranteed.svg") no-repeat;
  background-size: cover;
}
.icon.icon-info.icon-quality {
  background: url("/html-exercise/assets/images/ic-quality.svg") no-repeat;
  background-size: cover;
}
.icon-facebook {
  background-image: url("/html-exercise/assets/images/ic-fb.svg");
}
.icon-twitter {
  background-image: url("/html-exercise/assets/images/ic-twitter.svg");
}
.icon-linkedin {
  background-image: url("/html-exercise/assets/images/ic-linkedin.svg");
}
.icon-instagram {
  background-image: url("/html-exercise/assets/images/ic-insta.svg");
}
.icon-youtube {
  background-image: url("/html-exercise/assets/images/ic-youtube.svg");
}
.icon-cart-sm {
  background: url("/html-exercise/assets/images/ic-cart-sm.svg") no-repeat;
}
.icon-profile-sm {
  background: url("/html-exercise/assets/images/ic-profile-sm.svg") no-repeat;
}
.icon-menu-sm {
  background: url("/html-exercise/assets/images/ic-menu.svg") no-repeat;
}

[class$=-sm] {
  display: none;
}

@media only screen and (max-width: 768px) {
  [class$=-lg] {
    display: none;
  }
  [class$=-sm] {
    display: block;
  }
}
.product {
  position: relative;
}
.product-link {
  position: relative;
}
.product-title {
  margin-top: 8px;
  font-weight: 300;
}
.product.product-discount .badge-danger {
  top: 5%;
  left: 5%;
}
.product.product-discount .product-price {
  color: #cecece;
  text-decoration: line-through;
}
.product .price-wrapper {
  justify-content: space-between;
}
.product-price {
  font-size: 20px;
}
.product-price::before {
  content: "$";
}
.product-price-discount {
  color: #ff0000;
  font-size: 20px;
}
.product-price-discount::before {
  content: "$";
}
.product .btn-primary {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}
.product.available:hover .product-link {
  opacity: 0.5;
}
.product.available:hover .btn {
  display: block;
}
.product.unavailable .product-link {
  cursor: default !important;
  filter: contrast(25%);
}
.product.unavailable .btn {
  background-color: #ff0000;
}

@media only screen and (max-width: 768px) {
  .product-title {
    font-size: 12px;
  }
  .product-price, .product-price-discount {
    font-size: 10px;
  }
}
.badge-danger {
  position: absolute;
  padding: 10px 20px;
  background-color: #ff0000;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .badge-danger {
    padding: 2px 4px;
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
