.btn {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 50px;

  &.btn {
    &-primary {
      padding: 9px 32px;

      font-size: 16px;
      background-color: map-get($map: $color, $key: primary);
      color: map-get($map: $color, $key: light);
    }

    &-outline-primary {
      border: 1px solid map-get($map: $color, $key: primary);
    }
  }
}
