.btn {
  background-color: var(--light-color);
  padding: 12px 18px;
  border-radius: 24px;
  font-size: 13px;
  font-weight: 700;
}

.subscribe-form .btn-subscribe {
  padding: 16px 42px;
  background-color: var(--primary-color);
}

.section-recommend .btn-recommend {
  border: 1px solid #C4C4C4;
  font-weight: 700;
  padding: 12px 20px
}
