.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.footer .footer-content {
  padding: 4% 0 0;
  justify-content: space-between;
}

.footer-content .footer-detail {
  max-width: 60%;
}

.footer-detail .footer-detail-desc {
  margin: 5% 0;
  max-width: 80%;
}

.footer-detail .social-list {
  margin-top: 20%
}

.social-list .social-item {
  margin: -50px 8px;
}

.footer-nav .footer-nav-column {
  min-width: 20%;
}
.footer-content .footer-nav-title {
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-content .footer-nav-item {
  display: block;
  margin-top: 8px
}

.footer-content .footer-nav-link {
  color: var(--light-color);
}

.footer .footer-end {
  padding: 20px;
  border-top: 1px solid var(--light-color);
  text-align: center;
}
