.header {
  padding: 42px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header .container {
  justify-content: space-between;
  align-items: center;
}

.header .nav-main {
  width: 40%;
}

.nav-main .nav-list {
  justify-content: space-between;
  font-size: 18px;
}

.header .action-list {
  width: 12%;
  justify-content: space-around;
  align-items: center;
}
