.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: cover;
}

.icon-search {
  background-image: url('../images/ic-search.svg');
}

.icon-cart {
  background-image: url('../images/ic-cart.svg');
}

.icon-profile {
  background-image: url('../images/ic-avatar.svg');
}

.icon-arrow {
  width: 36px;
  height: 36px;
  margin: 12px 12px -10px 0;
  background-image: url('../images/ic-arrow.svg');
  border-radius: 50%;
}

.icon-info {
  width: 70px;
  height: 70px;
  margin: 20px 0;
}
.icon-freeship {
  background: url('../images/ic-freeship.svg') no-repeat;
}

.icon-payment {
  background: url('../images/ic-payment.svg') no-repeat;
}

.icon-guaranteed {
  background: url('../images/ic-guaranteed.svg') no-repeat;
  background-size: cover;
}

.icon-quality {
  background: url('../images/ic-quality.svg') no-repeat;
  background-size: cover;
}


.note .icon-freeship {
  background-image: url('../images/ic-freeship-fill.svg');
}

.note .icon-satisfied {
  background-image: url('../images/ic-satisfied-fill.svg');
}

.note .icon-guaranteed {
  background-image: url('../images/ic-guaranteed-fill.svg');
}
