.txt-yellow {
  color: #FBB03B
}

/* banner */
.section-banner {
  width: 100%;
  height: 800px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/header-bg.png");
  background-size: cover;
}

.section-banner .section-header {
  padding: 15% 8%
}

.section-banner .section-title {
  text-align: start;
  margin-bottom: 12px;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 101.5%;
}

.section-banner .section-title .txt-yellow {
  display: block;
}

.section-banner .section-link {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-align: start;
}

/* note */
.banner-note {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3% 3% 3% 8%;

  background-color: #FFF;
  border-radius: 0 100px 0 0;
}

.banner-note .note-list {
  justify-content: space-around;
}

.note-item {
  width: 300px;
}

.note {
  justify-content: space-evenly;
}
.note .note-icon {
  width: 36px;
  height: 36px;
}
.note .note-content {
  width: 200px;
}

.note .note-title {
  font-size: 14px;
  font-weight: bolder;
}

.note .note-desc {
  font-size: 12px;
  color: #A8A8A8
}

/* discount */
.discount{
  padding: 10px 20px;
  position: absolute;
  background-color: #FF0000;
  color: #FFF;
  border-radius: 20px;
  font-size: 12px;
}

/* highlight */
.section-highlight .highlight-list {
  height: 360px;
}
.highlight-list .highlight-item {
  width: 22%;
  position: relative;
  margin: 0 10px;
  height: 100%;
}

.highlight-list .highlight-item:first-child {
  width: 55%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-1.png");
  margin-left: -10px
}

.highlight-list .highlight-item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-2.png");
}

.highlight-list .highlight-item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-3.png");
  margin-right: -10px
}

.highlight-list .highlight-item:last-child .highlight-title {
  max-width: min-content;
}

.highlight .highlight-title {
  position: absolute;
  top: 50%;
  left: 10%;

  font-size: 24px;
  color: #FFF;
  font-weight: 400;
}

.highlight .highlight-link {
  top: 75%;
  left: 10%;
  position: absolute;
}

.highlight .discount {
  top: 35%;
  left: 10%
}

/* Recommend */
.section-recommend .section-header{
  justify-content: space-between;
}

.section-recommend .btn-recommend {
  border: 1px solid #C4C4C4;
  font-weight: 700;
  padding: 12px 20px
}

/* products */
.product-list {
  margin-top: 18px;
  justify-content: space-between;
}

.product-discount{
  position: relative;
}

.product-title {
  margin-top: 8px;
  font-weight: 300;
}

.product-discount .discount{
  top: 5%;
  left: 5%
}

.product-price {
  font-size: 20px
}

.product-price-discount {
  font-size: 20px;
  color: #F00
}

.product-price-discount + .product-price {
  color: #CECECE;
  float: right;
}

/* information */
.section-info {
  background-color: #F6F6F6;
}

.section-info .info-list {
  justify-content: space-evenly;
}

.info-item .info {
  width: 245px;
}

.info .info-title {
  font-size: 16px;
  font-weight: bolder;
  margin: 10px 0
}

.info .info-desc {
  color: #808080
}

/* subscribe */
.section-subscribe {
  position: relative;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url("../images/subscribe-bg.png");
}

.section-subscribe .subscribe-form {
  position: absolute;
}

.subscribe-form .subscribe-content {
  display: inline-block;
  width: 500px;
  color: #FFF;
  font-size: 24px;
}
