/* banner */
.section-banner {
  width: 100%;
  height: 800px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/header-bg.png");
  background-size: cover;
}

.section-banner .section-header {
  padding: 20% 0;
  margin: 0;
}

.section-banner .section-title {
  text-align: start;
  color: var(--light-color);
  font-size: 72px;
  font-weight: 700;
  line-height: 101.5%;
}

.section-banner .section-title .txt-yellow {
  display: block;
}

.section-banner .section-link {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-align: start;
}

/* note */
.banner-note {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3% 3% 3% 15%;

  background-color: var(--light-color);
  border-radius: 0 100px 0 0;
}

.banner-note .note-list {
  justify-content: space-between;
}

.note-item {
  width: 300px;
}

.note {
  justify-content: space-evenly;
}
.note .note-icon {
  width: 36px;
  height: 36px;
}
.note .note-content {
  width: 200px;
}

.note .note-title {
  font-size: 14px;
  font-weight: bolder;
}

.note .note-desc {
  font-size: 12px;
  color: var(--text-color)
}

/* highlight */
.section-highlight .highlight-list {
  height: 360px;
}
.highlight-list .highlight-item {
  display: inline-block;
  position: relative;
  height: 100%;
}

.highlight-list .highlight-item:first-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-1.png");
  margin: 0;
}

.highlight-list .highlight-item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-2.png");
  background-size: cover;
  margin-left: 20px
}

.highlight-list .highlight-item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/highlight-3.png");
  /* margin-left: 10px; */
}

.highlight-list .highlight-item:last-child .highlight-title {
  max-width: min-content;
}

.highlight .highlight-title {
  position: absolute;
  top: 50%;
  left: 10%;

  font-size: 24px;
  color: var(--light-color);
  font-weight: 400;
}

.highlight .highlight-link {
  top: 75%;
  left: 10%;
  position: absolute;
}

.highlight .discount {
  top: 35%;
  left: 10%
}

/* Recommend */
.section-recommend .section-header{
  justify-content: space-between;
}



/* information */
.section-info {
  background-color: var(--gray-bg-color);
}

.section-info .info-list {
  justify-content: space-between;
}

.info-item .info {
  width: 245px;
}

.info .info-title {
  font-size: 16px;
  font-weight: bolder;
  margin: 10px 0
}

.info .info-desc {
  color: var(--text-color)
}

/* subscribe */
.section-subscribe {
  position: relative;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url("../images/subscribe-bg.png");
}

.section-subscribe .subscribe-form {
  margin: 0;
  height: 240px;
  align-items: center;
  justify-content: space-between;
}

.subscribe-form .subscribe-content {
  width: 500px;
  display: inline-block;
  color: var(--light-color);
  font-size: 24px;
}

.subscribe-form .subscribe-input {
  width: 30%;
  padding: 16px 70px 16px 24px;
  border-radius: 50px;
}
