.section {
  padding: 2% 10%;
  margin: 2% 0;
  min-height: 240px;
}

.section:first-child,
.section:last-child {
  margin: 0;
}

.section .section-header {
  margin: 20px 0;
}

.section .section-title {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
