$width: (
  container: calc(100vw - 220px),
  container-side: 110px,
);

$color: (
  primary: #ffc017,
  secondary: #485963,
  danger: #eb5757,
  light: #fff,
  dark: #333,

  bg-gray: #fafafa,
  border-gray: #eee,
);
